* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nanum Myeongjo','Old Standard TT', serif;
}
body{
	background-color: #ffffff;
}
a{
	text-decoration: none;
}


section, footer, .mainblock{
	padding: 0 15px;
}

@media (min-width: 575.98px){
	section,footer, .mainblock {
		padding: 0 calc(50% - 270px);
	}
}

@media (min-width: 767.98px){
	section,footer, .mainblock {
		padding: 0 calc(50% - 360px);
	}
}

@media (min-width: 991.98px) {
	section, footer, .mainblock {
		padding: 0 calc(50% - 480px);
	}
}

@media (min-width: 1199.98px){
	section, footer, .mainblock {
		padding: 0 calc(50% - 590px);
	}
}


.mainblock{
	display: flex;
	justify-content: space-between;
	background-color: #f7f7f7;
	width: 100%;
}

.logo img{
	height: 50px;
	margin-top: 40px;

}
.nav {
	padding: 0;
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
}

ul {
	margin: 0;
	padding: 0;
	display: flex;
}
ul li{
	list-style: none;
	margin: 0 20px;
	transition: 0.5s;
}
ul li a{
	display: block;
	position: relative;
	text-decoration: none;
	padding: 5px;
	font-size: 18px;
	font-family: sans-serif;
	color: black;
	text-transform: uppercase;
	transition: 0.5s;
}
ul:hover li a{
	transform: scale(1.5);
	opacity: .2;
	filter: blur(5px);
}
ul li a:hover{
	transform: scale(2);
	opacity: 1;
	filter: blur(0);
}
ul li a:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ffd613;
	transition:  0.5s;
	transform-origin: right;
	transform: scaleX(0);
	z-index: -1;
}

ul li a:hover:before {

	transition: transform 0.5s;
	transform-origin: left;
	transform: scaleX(1);
}







.first_block {
	display: inline-grid;
	grid-template-columns: 3fr 1fr;
	height: 800px;

	background-image: radial-gradient(circle 400px at left, #CEF9F2 0%, #ffffff 100%)
}



.first_block h1 {
	font-size: 40px;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
	padding-right: 25px;
	font-family: "Nanum Myeongjo";
}
.description {
	padding-top: 75px;
}
.description p{
	width: 550px;
	padding-left: 150px;
	font-size: 20px;
}




.services {
	color: #f7f7f7;
	font-size: 25px;
	background-color: #1a1918;
	width: 500px;
	height: 350px;
	position: relative;
	animation-name: moveup;
	animation-duration: 1.5s;
	animation-iteration-count: 1;
}

.services p{
	text-align: center;
	position: relative;
	top: 200px;
	font-family: "Nanum Myeongjo";
}
.services a{
	position: relative;
	top: 125px;
	left: 200px;
	width: 100px;
	height: 100px;
}

.services img {
	width: 100px;
	height: 100px;
}

@keyframes moveup {
	0% {
		bottom: -50px;
	}
	100% {
		bottom: 0;
	}
}

.contact_us {
	margin-top: 25px;
	background-color: #ffd613;
	font-size: 25px;
	width: 500px;
	height: 350px;
	position: relative;
	animation-name: movedown;
	animation-duration: 1.5s;
	animation-iteration-count: 1;
}
.contact_us p{
	text-align: center;
	position: relative;
	top: 200px;
	font-family: "Nanum Myeongjo";
}
.contact_us a{
	position: relative;
	top: 125px;
	left: 200px;
	width: 100px;
	height: 100px;
}

.contact_us img {
	width: 100px;
	height: 100px;
}



@keyframes movedown {
	0% {
		top: -50px;
	}
	100% {
		top: 0;
	}
}




#slider {
	background-color: #f7f7f7;
	text-align: left;
	height: 700px;
	margin-top: 100px;

}

#slider h2 {
	color: #1a1918;
	padding-top: 150px;
}

#slidertext {
	border: solid 2px #ffd613;
	border-radius: 5px;
	width: 600px;
	height: 150px;
	text-align: center;
	color: #1a1918;
	padding-top: 50px;
	font-size: 20px;
}





.carousel {
	width: 800px;
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
	margin-left: 200px;
}

.carousel img{
	margin-top: 50px;
}




#ourServeces {
	height: 900px;
}

.exempels {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 0;
	margin-top: 100px;
}

.firstblock{
	background-image: url("img/code_block.png");
	text-align: center;
	color: #ffffff;
	font-size: 24px;
	width: 300px;
	height: 300px;
}
.firstblock h4{
	padding-top: 150px;
}
.secondblock{
	background-image: url("img/left_top.png");
	width: 300px;
	height: 300px;
}
.tirthblock{
	background-image: url("img/help_block.png");
	width: 300px;
	height: 300px;
}
.fourthblock{
	background-image: url("img/right_top.png");
	width: 300px;
	height: 300px;
}
.sixthblock{
	background-image: url("img/safity_block.png");
	width: 300px;
	height: 300px;
}
.fifthblock{
	background-image: url("img/button_block.png");
	width: 300px;
	height: 300px;
}
.eighthblock{
	background-image: url("img/design_block.png");
	width: 300px;
	height: 300px;
}
.seventhblock{
	background-image: url("img/button_block.png");
	width: 300px;
	height: 300px;
}




/*.landingPage:hover img{*/
/*	transform: scale(1.5);*/
/*}*/
/*.crm:hover img{*/
/*	transform: scale(1.5);*/
/*}*/
/*.mobileApp:hover img{*/
/*	transform: scale(1.5);*/
/*}*/


.attantion {
	display: flex;
	justify-content: left;
	align-items: left;
	margin-top: 100px;
}
.attantion h2{
	position: relative;
	font-family: sans-serif;

	text-transform: uppercase;
	font-size: 2em;
	letter-spacing: 4px;
	overflow: hidden;
	background: linear-gradient(90deg,#ffffff, #FFD613);
	background-repeat: no-repeat;
	background-size: 80%;
	animation: animate 3s linear infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: rgba(181,72,139,.01);
}
@keyframes animate {
	0% {
		background-position: -500%;
	}
	100% {
		background-position: 500%;
	}
}


footer	{
	background-color: #1a1918;
	height: 500px;

}


.footerMenu{
	display: flex;
	justify-content: space-between;
	color: #ffffff;
	font-size: 18px;
	border-top: #CEF9F2 solid 1px;

}

.brif {
	text-align: left;
	margin-top: 100px;

}

.development {
	text-align: left;
	margin-top: 100px;

}

.contacts {
	text-align: left;
	margin-top: 100px;

}





.bodyBx {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
.container{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	padding: 50px 0;
	transform-style: preserve-3d;
}
.container .box{
	position: relative;
	width: 450px;
	height: 300px;
	margin: 60px 0;
	background: #000;
	transform-style: preserve-3d;
}
.container .box:hover{
	box-shadow: 0 50px 80px rgba(0,0,0,.2)
}
.container .box .imgBx {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.container .box .contentBx{
	position: absolute;
	top: 50%;
	left: 50px;
	right: 50px;
	background: #fff;
	transform: translateZ(20px) scaleY(0);
	padding: 40px 25px;
	transform-origin: top;
	transition: 1s;
	transform-style: preserve-3d;
}
.container .box:hover .contentBx{
	transform: translateZ(20px) scaleY(1);
}